<div class="headerContainer">
    <div class="row margin0">
      <div class="realfloorsLogo col-lg-6 col-md-6 col-sm-3 col-xs-4">
       <img src="assets/images/realfloorlogo.PNG" class="navbarImage"alt="Logo">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-9 col-xs-8" >
        <div class="userIcons">
          <span placement="bottom" [ngbPopover]="profilePopover" [autoClose]="'outside'"
          popoverClass="button-list-popover" #p1="ngbPopover">
          <img class="bellIcon" src="assets/images/logout.svg" />
             <!-- custom Class -->
        <ng-template #profilePopover>
          <ul class="cursorPointer dropDownAlignment">
            <li class="hand" (click)="signOut()">
              <a>Logout</a>
            </li>
          </ul>
        </ng-template>
        </span>
          <span placement="bottom">
            <img src="assets/images/notification-bell-deselected.svg" class="bellIcon">
          </span>
          <span placement="bottom">
            <img src="assets/images/down-arrow.svg" class=" bellIcon">
          </span>

        </div>
      </div>
    </div>
  </div>  
  
          <!-- <div ngbDropdown class="d-inline-block">
            <img src="assets/images/information-icon.png" class="infoIcon" id="dropdownBasic1" ngbDropdownToggle>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="infoAligment">
              <p>Playa allows Customers to plan and manage their spend on Azure. The data displayed on the Playa
                Dashboards comes directly from the Microsoft Azure subscriptions on your tenant. Playa pulls the data from
                MSFT Azure, but the data feed is delayed by 3-4 days in order to ensure the accuracy of the feed. <br>
                Playa Spend Management is currently in Beta.</p>
  
            </div>
          </div> -->
  
      