.leftSideNavBar{
    width:64px;
    height:640px;
    display: inline-block;
    // float:left;
    background-color: #0f0f10;
    // position:relative;
    // right:14px;
  }
  .fa-building{
    background-color: white;
    /* color: white; */
    width: 20px;
    height: 20px;
    position: relative;
    left: 16px;
    top: 30px;
    display:block;
  }